body {
  font-family: Arial, sans-serif;
  background: #c0c0c0;
  padding: 20px;
  background-image: radial-gradient(#363665, transparent);
}
.quiz-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 830px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  background-image: radial-gradient(#282831, transparent);
}

.welcome-container {
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-image: radial-gradient(#282831, transparent);
}

.welcome-container img {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.welcome-container h2 {
  color: #fff;
}

.welcome-description {
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

h2 {
  text-align: center;
}

.quiz-container h2 {
  text-align: center;
  background: chocolate;
  border-radius: 1rem;
  padding: 1rem;
}
.question {
  display: none;
}
.question.active {
  display: block;
}
.question label {
  display: block;
  margin: 5px 0;
  background: darkcyan;
  padding: 0.4rem;
  border-radius: 1rem;
  max-width: 45%;
  flex: 50%;
  color: #dddddd;
}

.choices {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
.result {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.progress-bar {
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.progress-fill {
  height: 100%;
  width: 0%;
  background: #409780;
  transition: width 0.3s ease;
  background-image: linear-gradient(45deg, #e5e5e5, transparent);
}
#quizImage {
  display: block;
  margin: 0px auto;
  max-width: 500px;
  width: 100%;
}
#dialogueBox {
  background: #000;
  padding: 2rem;
  color: #fff;
}
#dialogueBox p {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}
.welcome-container,
.quiz-container {
  transition: opacity 0.5s ease;
}
.fade {
  animation: fadeIn 0.5s ease-in;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
